

/* .container{
	width: 100%;
	padding: 8px 1%;
	min-width: 1120px;
	max-width: 1920px;
} */

/*图表区域背景色*/
.chartarea{
	/*背景渐变*/
	background:linear-gradient(top, #171B27, #0D0E22);  
	background:-moz-linear-gradient(top, #171B27, #0D0E22);  
	background:-0-linear-gradient(top, #171B27, #0D0E22);  
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#171B27), to(#0D0E22)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171B27', endColorstr='#0D0E22',GradientType=0 );
	background: -ms-linear-gradient(top, #171B27, #0D0E22); 

	
	border-radius: 8px;
	padding: 10px;
	margin: 0 2px;
	width: 49%;
	display: inline-block;
}
/*图表区域标题*/
.charttitle{
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
}
/*右侧表格*/
.chartRightTable{
	font-size: 12px;
	width: 90%;
	height: 85%;
	margin:0px auto;
	background:url(../images/bluebk.png) no-repeat;
	background-size: 100% 100%;
	color:#fff;
	padding: 30px 0;
    box-sizing: border-box;
}
.chartRightTable dl{
	width: 46%;
	margin: 0 1%;
	float: left;
	text-align: center;
}
.chartRightTable dl dt{
	width: 33.3%;
	float: left;
	margin-bottom: 15px;
}
.chartRightTable dl dd{
	width: 33.3%;
	float: left;
	margin-bottom: 15px;
}

/*查询区域*/
.queleft{
	/* width: 75%; */
	float: left;
	position: relative;
}
.queright{
	float: right;
}

.hidecont{
	display: none;
}


/*输入框显示时间*/
.dateicon{
	background: url(../images/date.png);
	background-position: right center;
	background-repeat: no-repeat;
}


/*查询按钮*/
.querybtnarea{
	width: 65px;
	height: 25px;
	color: #FFFFFF;
	background-color: #01b4ec;
	font-size: 12px;
	/*margin-right: 10px;*/
	padding: 3px 0;
	margin-top: 10px;
	float: right;
	white-space: nowrap;
	cursor: pointer;    
    border: 1px solid transparent;
    border-radius: 4px;   
    text-align: center;
	
}
/*隐藏搜索框按钮区域*/
.downarea{
	text-align: center;
	width:50%;
	margin:0 auto;
}

/*向下箭头*/
.downarrow{
	cursor: pointer;
	color: #FFFFFF;
	font-size: 22px;
	position: absolute;
	height: 16px;
	width: 16px;
	left: 50%;
	top: 91.5%;
	background: url(../images/expand-down-up.png) no-repeat;
	background-position: top;
}
.downarrow:hover{	
	color: #FFFFFF;	
}

.direction{
	width:16px;
	height:16px;
	background: url(../images/expand-down-up.png) no-repeat;
	margin: 0 auto;
}



@media screen and (max-width: 767px){
	.table-responsive {
		border: 0;
	}	
}
@media screen and (max-width: 1350px){
	/*该尺寸下,日历图标消失*/
	#starttime{
		background: none;		
		background-color: #262835;
	}
}