#login{
	width: 100%;
	height: 100%;
	background-color: #020818;
}
#login .loginBox{
	width: 100%;
	height: 100%;
	min-width: 1120px;
	max-width: 1920px;
	margin:0 auto;
	background: url(../images/login.png) no-repeat;
	background-size: cover;
	background-position: 50%;
	position: relative;
}

#login .loginBox .form{
    width: 17%;
    height: 220px;
    position: absolute;
    right: 22%;
    top: 30%;
    min-width: 245px;
}
#login .loginBox .form form{
	width: 100%;
	height: 100%;
}
#login .loginBox .form ul{
	width: 100%;
	height: 100%;
}
#login .loginBox .form ul li{
    width: 100%;
    height: 15%;
    margin-top: 10%;
    background-color: #E6EBEE;
    border-radius: 3px;
    overflow: hidden;
}
#login .loginBox .form ul li.cus{
	background:none;
}
#login .loginBox .form ul .current{
	height: 25%;
	margin-top: 0;
}
#login .loginBox .form ul li .submit{
	width: 100%;
	height: 100%;
	color: #fff;
	letter-spacing: 1px;
	outline: none;
    background:linear-gradient(top, #2FAEB1, #0E6298);  
	background:-moz-linear-gradient(top, #2FAEB1, #0E6298);  
	background:-0-linear-gradient(top, #2FAEB1, #0E6298);  
	background: -ms-linear-gradient(top, #2FAEB1, #0E6298);  
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#2FAEB1), to(#0E6298));  
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2FAEB1', endColorstr='#0E6298',GradientType=0 );
}
#login .loginBox .form ul li img{
	float: left;
	width: 11%;
    margin: 2px;
}
#login .loginBox .form ul li  .msg{
	width: 80%;
	height: 100%;
	float: left;
	background-color: rgba(255,255,255,0);
	outline:none;
	margin-left: 2%;
	font-size: 12px;
}












