<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>登录页</title>
	<link rel="stylesheet" type="text/css" href="../themes/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../themes/css/style.css">
	<link rel="stylesheet" type="text/css" href="../themes/css/login.css">
</head>

<body>
	<div id="login">
		<div class="loginBox">
			<div class="form">
				<form method="post">
					<ul>
						<div class="current">
							<img src="../themes/images/logo.png" alt="" class="img-responsive" />
						</div>
						<li class="clearfix">
							<img src="../themes/images/human.png" alt="" class="img-responsive">
							<input type="text" name="" class="msg" placeholder="用户名" />
						</li>
						<li>
							<img src="../themes/images/pwd.png" alt="" class="img-responsive">
							<input type="password" name="" class="msg" placeholder="密&nbsp;&nbsp;&nbsp;码" />
						</li>
						<li class="cus">
							<input type="submit" value="登录" class="submit">
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</body>
</html>